<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lynxz.simplesetting">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 开启wifi需要以下权限   -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--    查询获取所有已安装app列表-->
    <uses-permission android:name="android.permission.GET_PACKAGES" />
    <!--    android11以后需要使用以下权限, 其中 QUERY_ALL_PACKAGES 会提示使用 queries 标签 替代 -->
    <!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->

    <!--    若明确知道要查询的包名, 则可使用 queries 标签替代 -->
    <queries>
        <package android:name="com.xiaomi.mitime" />
        <package android:name="org.lynxz.forwardsms" />
    </queries>

    <!-- 如果不知道应用的包名，只是想查询具有某种功能的应用, 可通过intent标签进行 -->
    <!-- 注意: 支持的 <data>中也只能有这些属性: mimeType,scheme 和host -->
    <!-- 另外, 几乎所有应用都会用到 android.intent.action.MAIN 这个action, 因此可以把它作为查询条件绕过 QUERY_ALL_PACKAGES 权限  -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <!--    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />-->
    <!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->


    <application
        android:name=".SettingApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>